<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    defaultTimeLimit="60"
    enforceTimeLimit="true"
    stopOnSkipped="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="utils">
            <directory>tests/Velocite</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/classes</directory>
        </include>
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
