<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="./bootstrap_test.php"
    colors="true"
    stopOnFailure="false"
    defaultTimeLimit="60"
    enforceTimeLimit="true"
    stopOnSkipped="true"
    beStrictAboutOutputDuringTests="true"
    testdox="true"
>
    <php>
        <server name="VELOCITE_ENV" value="test"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./src/classes</directory>
        </include>
        <exclude>
        </exclude>
    </coverage>
    <logging>
        <testdoxHtml outputFile="./unit.log.html"/>
    </logging>
    <testsuites>
        <testsuite name="utils">
            <file suffix=".php">./src/tests/arr.php</file>
        </testsuite>
    </testsuites>
</phpunit>